<h2>Twitter  dashboard</h2>
<p>You have tweeted <%= @tweets.count %> tweets </p>

<h4> Followers </h4>

<p> You have <%= @followers.count %></p>

<h4> Followings </h4>

<p> You are following <%= @followings.count %></p>